@import '../../../s-colors';

::ng-deep mat-form-field {
  width: 20vw;
}

section {
  //background-color: $whiteColor;
  border-radius: 0.5vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 1.5vh;
  border-radius: 0.5vh;
  background-color: $grayColor;
}

button {
  padding: 0.25vh;
  border-radius: 0.5vh;
}

.btn-login {
  border: 0;
  color: $whiteColor;
  background-color: $primaryColor;
}

.btn-register {
  border: 0.1vh solid $primaryColor;
  color: $primaryColor;
  background-color: transparent;
}
