<nav *ngIf="isLoggedIn" [style.background-color]="navbarColor">
  <mat-icon style="height: 5vh; width: 5vh; font-size: 5vh; cursor: pointer;" (click)="redirectTo('/')">fingerprint</mat-icon>
  <div class="d-flex align-items-center gap-3">
    <div *ngIf="showMenu" class="d-flex align-items-center gap-3">
      <button class="navbar-options" (click)="toggleModal(option.slug)" mat-button *ngFor="let option of navbarOptions">
        <h4>{{option.name}}</h4>
      </button>
    </div>
    <button class="image-container" [matMenuTriggerFor]="menu"><img [src]="userImage" alt=""></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Lista de Amigos</button>
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
  </div>
</nav>

<router-outlet></router-outlet>

@if (showMenu && isBagOpenned) {
  <div style="position: absolute; top: 25%; left: 25%;">
    <app-bag class="example-box" cdkDrag></app-bag>
  </div>
}
@if (showMenu && isSkillsOpenned) {
  <div style="position: absolute; top: 25%; left: 25%;">
    <app-skills class="example-box" cdkDrag></app-skills>
  </div>
}
