@import '../../../s-colors';

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  padding: 0.5vh 1.5vw;
  border-radius: 1.5vh;
  background-color: transparent;
}

.room-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vh;
  border-radius: 0.5vh;
  color: $blackColor;
  background-color: $grayColor;
  cursor: pointer;
}
