@import '../../../../s-colors';

::ng-deep .mat-dialog-container {
  box-shadow: none;
}

section {
  min-height: 40vh;
  width: 30vw;
  background-color: $grayColor;
  border-radius: 0.5vh;
  padding: 0.5vh;
  overflow-y: auto;
  overflow-x: inherit;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
